.font-light-300, body, code, .theintitle {
  font-family: Oswald, Open Sans;
  font-style: normal;
  font-weight: 300; }

.font-normal-400, h4 {
  font-family: Oswald, Open Sans;
  font-style: normal;
  font-weight: 400; }

.font-bold-700, headertitle {
  font-family: Oswald, Open Sans;
  font-style: bold;
  font-weight: 700; }

.background-green, .filterstatsbox {
  background-color: #0e792b; }

.background-white {
  background-color: #fff; }

.background-blue {
  background-color: #125695; }

.font-white {
  color: #fff !important; }

.font-blue {
  color: #125695 !important; }

.font-green, .theintitle {
  color: #0e792b !important; }

body {
  background-color: #fff;
  font-size: 1.2em;
  font-family: Oswald, Open Sans; }

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px dotted;
  border-radius: 4px; }

a {
  text-decoration: none;
  font-size: 0.85em; }

a:hover {
  color: #0e792b; }

a:visited {
  color: #125695; }

.panel-body {
  font-size: 1.7em; }

.accordion-heading {
  font-size: 1.7em; }

.accordion-heading-adv {
  background-color: #000;
  color: #fff; }

.columnborder {
  border: 1px solid #808080;
  margin: 1px;
  padding: 1px;
  font-size: 0.85em; }

code {
  background-color: #f8f8f8;
  display: inline-block;
  border: 1px solid #ddd !important;
  padding: 0 4px 0 4px !important;
  margin: 0 2px 0 1px;
  font-size: 0.85em;
  color: #333; }
  code.codeheader {
    background-color: #125695;
    color: #efefef;
    font-size: 0.85em; }
  code.codemainheader {
    background-color: #e3dcc0;
    color: #202020;
    border: 1px solid #202020 !important;
    font-size: 1.2em; }

.title {
  color: #d7ceb2;
  text-shadow: 3px 3px 0 #2c2e38, 5px 5px 0 #5c5f72;
  font: 80px Oswald, Open Sans;
  letter-spacing: 10px; }

.processmsg {
  font-weight: bolder;
  color: #202020;
  padding: 2px; }

.panel-default {
  border-color: #e3dcc0; }

.panel-default > .panel-heading {
  background-color: #e3dcc0;
  opacity: 0.75; }

.padding {
  padding: 20px; }

.dataTables_wrapper {
  font-size: 0.55em;
  border: 1px gray;
  padding: 2px;
  box-shadow: -1px -1px 3px #888888; }

.map {
  width: 400px;
  height: 300px; }

.std_transition, .fadeblockui, .animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all; }

.blockui, .fadeblockui {
  display: block;
  z-index: 10002;
  opacity: 0.25;
  pointer-events: none; }

.animate-repeat.ng-move {
  opacity: 0;
  max-height: 0; }
  .animate-repeat.ng-move.ng-move-active {
    opacity: 1;
    max-height: 40px; }
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
  margin-bottom: 50px; }
  .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px; }
.animate-repeat.ng-leave {
  opacity: 1;
  max-height: 40px; }
  .animate-repeat.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0; }

.animate_control {
  -vendor-animation-duration: 10s !important;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite; }

.background_asphalt {
  width: 100%;
  background-image: url("../images/asphalt_yellow.jpg");
  background-size: cover;
  background-attachment: fixed; }

.midsection {
  background: rgba(255, 255, 255, 0.95); }

.page-header {
  border-bottom: 0px; }

section {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(18, 86, 149, 0.95); }

.form-control {
  padding-right: 30px; }

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px; }

subtitle {
  font-size: 2em;
  color: #5f5e61;
  text-transform: uppercase;
  border: 0.125em solid #5f5e61;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.15em 0.15em 0.075em;
  -webkit-mask-image: url(../images/a.png);
  -webkit-transform: rotate(-3deg);
  -moz-mask-image: url(../images/a.png);
  -moz-transform: rotate(-3deg);
  -o-mask-image: url(../images/a.png);
  -o-transform: rotate(-3deg);
  -ms-mask-image: url(../images/a.png);
  -ms-transform: rotate(-3deg);
  mask-image: url(../images/a.png);
  transform: rotate(-3deg); }

headertitle {
  line-height: 1;
  font-size: 8em;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.15em 0.15em 0.075em;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }

.rotateright {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.rotateleft90 {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(\-90deg);
  transform: rotate(-90deg); }

.theintitle {
  font-size: 0.55em; }

.glyphicons-taxi {
  background-image: url("../images/glyphicons-569-taxi.png");
  width: 27px;
  height: 27px; }

.map-marker {
  position: relative;
  text-align: center;
  background: #444;
  width: 260px;
  height: 26px;
  border-radius: 5px;
  margin-top: 5px;
  /*Shift by arrow top+height */
  /*Shift by half the marker width */
  /*Same as marker width */
  height: 22px;
  line-height: 20px;
  font-size: 10px; }
  .map-marker div.arrow {
    position: relative;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
    left: 7px;
    /*(Marker width - arrow width)/2 */
    border-width: 10px 6px 0 6px;
    /*Arrow w/h is defined by the borders */
    width: 0px;
    height: 0px; }
  .map-marker div.icon {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
    /*Same as marker height */
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 2px; }
  .map-marker div.A div.icon:before {
    content: "A"; }
  .map-marker.red div.icon {
    background: #ff2222; }
  .map-marker.green div.icon {
    background: #008800;
    color: #fff; }
  .map-marker.green.arrow {
    border-top-color: #000;
    background: #000; }
  .map-marker.inactive {
    opacity: 0.6; }

.filterstatsbox {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  font-size: 15px;
  color: white; }

.btn {
  padding: 1px; }

.ng-cloak {
  display: none; }

/*# sourceMappingURL=main.css.map */
