<accordion-group>
    <accordion-heading>
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    <div class="row">
        <div class="col-md-3">
        <code class="codemainheader">{{title}}</code>
    </div>
    <div class="col-md-8">

    <code class="codeheader">Fusion Table Id:</code><code>{{fusiontbl}}</code>
    <br>
    <code class="codeheader">Columns:</code>
    <code ng-repeat="item in columns">
        {{item.name}}
    </code>

</div>
</div>
</accordion-heading>
<span>
Group by:
<isteven-multi-select
input-model="columns"
output-model="sqlcols"
button-label="icon name"
item-label="icon name maker"
orientation="horizontal"
tick-property="ticked"
>
</isteven-multi-select>
</span>
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span>
<a href="#" ng-click="send(fusiontbl,sqlcols)"> Run query </a>
</span>

<span ng-if="containsAddress(columns)" ng-controller="LeafletController">

<leaflet  center="center" markers="markers" height="250px" width="350px"></leaflet>
</span>
<br><br>
<p id="{{fusiontbl}}msg" class="processmsg"></p>
</accordion-group>