<!doctype html>
<html ng-app="taxidriver">
    <head>
        <link href='https://www.google.com/fonts#ReviewPlace:refine/Collection:Oswald:400,300,700|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="dist/taxidriver.min.css">
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/features/searchHighlight/dataTables.searchHighlight.css">
            <link rel="stylesheet" href="http://tombatossals.github.io/angular-leaflet-directive/bower_components/leaflet.markercluster/dist/MarkerCluster.css">
            <link rel="stylesheet" href="http://tombatossals.github.io/angular-leaflet-directive/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
        </head>
        <body class="background_asphalt">
            <div class="page-header">
                <div class="row container">
                    <br>
                    <div class="col-md-5">
                        <img class="img-responsive rotateright" src="images/header.png"/>
                    </div>
                    <div class="col-md-5">
                        <img class="img-responsive" src="images/ppls.png" />
                        <subtitle class="font-white background-green padding">Access-to-Justice-Work-Group</subtitle>
                    </div>
                </div>
            </div>
            <section class="midsection">
                <div ng-controller="MapController">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <div id="14EXK6TvoG0XUY9PJzxUPfLTl5FjlsSEeidkA8mNVmap">

                                    <span>
                                    <h3><a href='javascript:void(0)' ng-click="mapViolations()">
                                    <span class="glyphicon glyphicons-taxi" ng-show="table == '14EXK6TvoG0XUY9PJzxUPfLTl5FjlsSEeidkA8mNV'"></span>
                                    {Violations}</a><a href='javascript:void(0)' ng-click="mapMedallions()"> <span class="glyphicon glyphicons-taxi" ng-show="table == '1ONuiVrSyTeh6DBUOyvYUfWSi5s9sAgmVYsc8MF9i'"></span>{Cab Companies}</a></h3>
                                    </span>
                                    <div ng-class="{fadeblockui: table != '14EXK6TvoG0XUY9PJzxUPfLTl5FjlsSEeidkA8mNV'}">
                                        <input type="text"  ng-model="fromdate" ng-model-options="{ updateOn: 'blur' }" ng-change="onchangeRedrawmap()"> to <input type="text" ng-model="todate" ng-model-options="{ updateOn: 'blur' }" ng-change="onchangeRedrawmap()">
                                        <br><br>
                                        <input type="text"  ng-model="minAmount" ng-model-options="{ updateOn: 'blur' }" ng-change="onchangeRedrawmap()"> to <input type="text" ng-model="maxAmount" ng-model-options="{ updateOn: 'blur' }" ng-change="onchangeRedrawmap()">
                                        <br><br>
                                        <select ng-model="status" class="selectpicker" title='Select status...'>
                                            <option value="All" ng-selected="status === 'All'">All</option>
                                            <option value="Outstanding" ng-selected="status === 'Outstanding'">Outstanding</option>
                                            <option value="Dismissed" ng-selected="status === 'Dismissed'">Dismissed</option>
                                            <option value="Paid" ng-selected="status === 'Paid'">Paid</option>
                                        </select>
                                        <br><br>
                                        <isteven-multi-select
                                        on-item-click="onchangeRedrawmap()"
                                        input-model="allviolations"
                                        output-model="violations"
                                        button-label="icon name"
                                        helper-elements="reset none filter"
                                        item-label="icon name maker"
                                        orientation="horizontal"
                                        tick-property="ticked",
                                        max-height="250px",
                                        min-search-length="3"
                                        >
                                        </isteven-multi-select>
                                    </div>

                                  

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <p>
                                    <strong>{{filterstate}}</strong>
                                    </p>
                                    Total distinct count: <strong>{{filtertotalcount}}</strong><br>
                                    Number of violations:
                                    <strong>{{filtertotalviolations}}</strong><br>
                                    Max fine: <strong>{{filteredMaxFine}}</strong>
                                    Min fine: <strong>{{filteredMinFine}}</strong>
                                    <br><br>
                                    Totaling: <strong>{{filtertotalamount | currency}}</strong><br>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="controls"></div>
                                <leaflet async="true" center="center" markers="markers" layers="layers" width="100%" height="480px"></leaflet>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tables">
                <div ng-controller="AppCtrl" class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="search" class="form-control"  ng-model="filtertables_cols" placeholder="What do I need to know?..."/> <span class="glyphicon glyphicon-search"></span>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <accordion close-others="oneAtATime">
                                <div class="animate-repeat" ng-repeat="table in fusionmap | defaultFilter: filtertables_cols">
                                <tableinfo id={{table.Id}} ng-attr-fusiontbl="{{table}}"></tableinfo>
                            </div>
                            <accordion-group>
                            <accordion-heading class="accordion-heading-adv">
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            <code class="codemainheader">Advance SQL Query</code>
                            </accordion-heading>
                            <textarea class="form-control" rows="5" ng-model="sql"></textarea>
                            <br>
                            <button type="button" class="btn btn-primary " ng-model="singleModel" ng-click="sendadvsql(sql,'sqladv')">Send</button>
                            <br><br>
                            <p id="sqladvmsg" class="processmsg"></p>
                            <div id="tablecontainer" class="dataTable row container">
                                <div class="col-md-10 background-white">
                                    <table id="sqladvrstable" class="display compact">
                                        <thead>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </accordion-group>
                            </accordion>
                            <br>
                        </div>
                    </div>
                </section>
                <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
                <script type="text/javascript" src="dist/taxidriver.lib.min.js"></script>
                <script type="text/javascript" src="dist/taxidriver.app.min.js"></script>
                <script src="http://tombatossals.github.io/angular-leaflet-directive/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
            </body>
        </html>