<!doctype html>
<html ng-app="taxidriver">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/isteven-multi-select.css">
            <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="css/main.css">
        </head>
        <body>
            <div class="page-header background-green">
                <span class="title">
                <h1>RUN OFF THE ROAD</h1>
                <h4>&nbsp;&nbsp;&nbsp;Access-to-Justice-Work-Group</h4>
                </span>
            </div>
            <div ng-controller="AppCtrl" class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <accordion close-others="oneAtATime">
                            <tableinfo ng-attr-fusiontbl="'1ONuiVrSyTeh6DBUOyvYUfWSi5s9sAgmVYsc8MF9i'" ng-attr-title="'Taxi Medallion Holders Summary'" ng-attr-columns="tmhs" ng-attr-sqlcols="sqlcols.sqlcols" ng-attr-send="send"></tableinfo>

                            <tableinfo ng-attr-fusiontbl="'1T1uO4iCjVUps7Ihzc2_avzW2ZGCZR6ciF7IG3lHt'" ng-attr-title="'Doc & ANOV ers Summary'" ng-attr-columns="anovs" ng-attr-sqlcols="sqlcols.sqlcols" ng-attr-send="send"></tableinfo>

                            <tableinfo ng-attr-fusiontbl="'1An33ZqdkTpqMM1UjNy1cW0QDfAUhR0Hdtad0vkpJ'" ng-attr-title="'Violations Report'" ng-attr-columns="vr" ng-attr-sqlcols="sqlcols.sqlcols" ng-attr-send="send"></tableinfo>
                            
                            <tableinfo ng-attr-fusiontbl="'1UCyBNGAL7544gB8Se2QaPwRWRmsSZ0c5aeD2m6hJ'" ng-attr-title="'Taxi Medallion Holders Total (Grand)Report'" ng-attr-columns="tmht" ng-attr-sqlcols="sqlcols.sqlcols" ng-attr-send="send"></tableinfo>
                  <accordion-group>
                    <accordion-heading class="accordion-heading-adv">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        Advance SQL Query
                    </accordion-heading>
                    <textarea class="form-control" rows="5" ng-model="sql"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary " ng-model="singleModel" ng-click="send(sql)" >Send</button>
                </accordion-group>
            </accordion>
            <br>
            <h1 class="background-green font-white">{{msg}}</h1>
            <div class="row container">
                <div class="col-md-12 background-white">
                    <table id="rstable" class="display">
                        <thead>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="js/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="js/libs/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="js/libs/isteven-multi-select.js"></script>
    <script type="text/javascript" src="js/app/main/app.js"></script>
    <script type="text/javascript" src="js/app/main/services/fusiontables/reports.js"></script>
    <script type="text/javascript" src="js/app/directives/tableinfo.js"></script>
    <script type="text/javascript" src="js/app/main/controller/app.js"></script>
</body>
</html>